@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Ojuju:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    font-family: "Inter";
}

.ojuju{
    font-family: 'Ojuju';
}

.linear{
    background-image: url(assets/linear.png) !important;
    background-position: center;
    background-size: cover;
}

.focus-border:focus{
    outline: 1px solid #6936f518 !important;
}

.admin-focus-border:focus{
    outline: 3px solid #0D0D0D18 !important;
}

.login-mobile-bg{
    background-image: url(assets/login-mobile-bg.jpg) !important;
    background-position: center;
    background-size: cover;
}